body {
    background-color: aliceblue;
}

.container {
    max-width: 800px;
}

#grid {
    margin-top: 5%;
}

.cell {
    border: 1px solid #ebebeb;
    border-radius: 5px;
}

.hover {
    border-color: rgb(170, 224, 255);
}

#resetBtn {
    margin-top: 5%;
    background-color: rgb(170, 224, 255);
    color: rgb(99, 99, 99);
    border-color: #ebebeb;
}