body {
    background-color: aliceblue;
}

#grid {
    margin-top: 10%;
}

.cell {
    border: 1px solid #ebebeb;
    border-radius: 5px;
}

#resetBtn {
    margin-top: 2%;
    background-color: rgb(170, 224, 255);
    color: rgb(99, 99, 99);
    border-color: rgb(255, 141, 141);
}