body {
    background-color: rgb(214, 214, 214);
}

.container {
    display: flex;
    justify-content: center;
}

#grid {
    flex-direction: column;
    margin-top: 2%;
    border: 2px solid rgb(70, 70, 70);
}

.row {
    display: flex;
}

.cell {
    border: 1px solid #DDDDDD;
}

#changeSizeBtn {
    margin-top: 2%;
}